/* You can add global styles to this file, and also import other style files */



@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');



html, body { height: 100%; }
body { 
    margin: 0 auto;
    font-family: 'Ranchers',cursive;
    font-size: 100px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

